.logo {
	position: static;
	top: 0px;
	width: 100px;
	height: 50px;
}

.artists-page {

	position: absolute;
	left: 25px;
	top: 23px;
	font-size: 19px;
	font-family: Courier New;
	text-decoration: none;
}

.gallery-page {

	position: absolute;
	right: 25px;
	top: 23px;
	font-size: 19px;
	font-family: Courier New;
	text-decoration: none;

}

.links-page {

	position: absolute;
	left: 25px;
	bottom: 23px;
	font-size: 19px;
	font-family: Courier New;
	text-decoration: none;

}

.support-page {

	position: absolute;
	right: 25px;
	bottom: 23px;
	font-size: 19px;
	font-family: Courier New;
	text-decoration: none;


}

.about_content {

	display: flex;
 	flex-direction: column;
  	justify-content: center;
  	align-items: center;
  	text-align: center;
  	min-height: 100vh;

    font-family: Courier New;
    font-size: 27px;
    text-decoration: none;

}





















