body {
    width: 100%;
    margin: 0 auto;
}

header {
	background-color: #ccc;
    margin-top: 20px;
    padding-bottom: 10px;
    padding-top: 10px;
    border-bottom: 2px solid #b5b5b5;
}

.logo-row {
    width: 250px;
    margin: 0 auto;

}

.logo {
    width: 100%;
    height: 50px;
    text-align: center;
    margin-top: 7px;

}
.artists_page {
	text-decoration: none;
	position: absolute;
	left: 25px;
	top: 23px;
	font-size: 19px;
	font-family: Courier New;
}

.gallery_page {
	text-decoration: none;
	position: absolute;
	right: 25px;
	top: 23px;
	font-size: 19px;
	font-family: Courier New;
}

.links_page {
	text-decoration: none;
	position: absolute;
	left: 175px;
	top: 23px;
	font-size: 19px;
	font-family: Courier New;
}

.support_page {
	text-decoration: none;
	position: absolute;
	right: 175px;
	top: 23px;
	font-size: 19px;
	font-family: Courier New;
}

.new_music {

	font-family: Courier New;
	font-size: 33px;
	text-align: left;
	margin-left: 25px;
}

.tania_allen {
	margin-left: 25px;
	margin-right: 25px;

  	float: left;
  	width: 180px;
}

.tania_allen img {
	width: 100%;
  	height: auto;
	float: left;
}

.ydiany {
	margin-right: 25px;
  	float: left;
  	width: 180px;
}

.ydiany img {
	width: 100%;
  	height: auto;
	float: left;
}

.desc {
	font-family: Courier New;
	font-size: 11px;
	text-align: center;
}

#footer {

	position: fixed;
	bottom: 0px;
	width: 100%;
    text-align: center;
    background-color: #ccc;
    font-family: Courier New;
}
